#[output_pin caselight]
# Chamber Lighting - HE2 Connector (Optional)
#pin: PB10
#pwm:true
#shutdown_value: 0
#value:1
#cycle_time: 0.01

[neopixel btt_mini12864]
pin: EXP1_6
chain_count: 3
initial_RED: 1
initial_GREEN: 0
initial_BLUE: 0.85
color_order: RGB

#  Set RGB values on boot up for each Neopixel. 
#  Index 1 = display, Index 2 and 3 = Knob
# [delayed_gcode setdisplayneopixel]
# initial_duration: 1
# gcode:
#        SET_LED LED=btt_mini12864 RED=0.9 GREEN=0.6 BLUE=0.95 INDEX=1 TRANSMIT=0
#        SET_LED LED=btt_mini12864 RED=0.9 GREEN=0.6 BLUE=0.95 INDEX=2 TRANSMIT=0
#        SET_LED LED=btt_mini12864 RED=0.9 GREEN=0.6 BLUE=0.95  INDEX=3 
